head
    title Chat Application

body
    h1 test
    form#msg-form
        input(type='text', name='msg')
        button(type='submit') Send
    br
    button#loc Send Location
    
    script(src='/socket.io/socket.io.js')
    script(src='/js/script.js')