head
    title Welcome
    link(rel='icon' href='/img/favicon.png')
    link(rel='stylesheet' href='/css/styles.min.css')
body
    div.centered-form
        div.centered-form__box
            h1 Join
            form(action="/chat")
                label Display Name
                input(type="text" name="username" placeholder="Display Name" required)
                label Chat Room
                input(type="text" name="room" placeholder="Chat Room" required)
                button Join


